.main {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #2e026d, #15162c);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  height: 4em;
  background-color: darkslateblue;
}

.logo {
  color: lightgray;
}

.post {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-left: 1px white solid;
  border-right: 1px white solid;
  min-height: 5em;
  display: flex;
  padding: 1em 2em;
  align-items: center;
}

.postImg {
  width: 3em;
  border-radius: 1.5em;
  margin-right: 2em;
}

.container {
  width: 60%;
  border-left: 1px white solid;
  border-right: 1px white solid;
  flex: 1;
}

.tuit {
  width: 100%;
  border: 1px white solid;
  padding: 1em 2em;
  display: flex;
}

.tuitpic {
  margin-right: 2em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
}

.postButton {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  width: 7em;
}

.profiletop {
  background-color: lightgrey;
  width: 100%;
  position: relative;
  height: 12em;
  border-bottom: 0.3em solid darkslateblue;
}

.profileinfo {
  padding: 6em 0 2em 0;
}

.profileinfo h1 {
  padding: 0 2em 0 1em;
}

.profiletop img {
  width: 10em;
  height: 10em;
  position: absolute;
  bottom: -5em;
  border: 0.3em solid darkslateblue;
  border-radius: 5em;
  left: 2em;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
  background-color: red;
}

.storedesc {
  font-weight: 700;
  width: 16em;
}

.productlist {
  max-height: 11em;
  overflow: scroll;
}

.productitem {
  background-color: #2e026d;
  color: azure;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 0.5em;
}

.productdesc {
  margin: 0.2em 0;
}

.productinfoblock {
  display: flex;
  align-items: center;
}

.productinfo {
  margin: 0.2em 0;
}

.storesformpair {
  display: flex;
  padding: 1em 7em;
  min-height: 4em;
}

.storesformpair input {
  flex: 1;
  border-radius: 0.5em;
  padding: 0 1.5em;
}

.storesformpair textarea {
  flex: 1;
  min-height: 5em;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
}

.storesformpair label {
  width: 30%;
}

.storesformsubmitbutton {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.storesformsubmitbutton button {
  width: 40%;
  height: 2.4em;
  font-size: 1.2em;
  border-radius: 0.5em;
  color: white;
  background-color: #55a;
}

.storesformsubmitbutton button:hover {
  background-color: #77a;
  cursor: pointer;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
  color: white;
}

@media (min-width: 640px) {
  .title {
    font-size: 5rem;
  }
}

.pinkSpan {
  color: hsl(280 100% 70%);
}

.cardRow {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 640px) {
  .cardRow {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .cardRow {
    gap: 2rem;
  }
}

.card {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  color: white;
  background-color: rgb(255 255 255 / 0.1);
}

.card:hover {
  background-color: rgb(255 255 255 / 0.2);
  transition: background-color 150ms cubic-bezier(0.5, 0, 0.2, 1);
}

.cardTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}

.cardText {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.showcaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.showcaseText {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginButton {
  border-radius: 9999px;
  background-color: rgb(255 255 255 / 0.1);
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  color: white;
  text-decoration-line: none;
  transition: background-color 150ms cubic-bezier(0.5, 0, 0.2, 1);
}

.loginButton:hover {
  background-color: rgb(255 255 255 / 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  color: black;
}

.submitButton {
  all: unset;
  border-radius: 9999px;
  background-color: rgb(255 255 255 / 0.1);
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  color: white;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.5, 0, 0.2, 1);
}

.submitButton:hover {
  background-color: rgb(255 255 255 / 0.2);
}
